<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#7952b3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
      background : #434A54;
    </style>
</head>
<body>
<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/" aria-label="Продукт (он обязательно будет)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Продукт</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Главная страница</a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'product' %}">Продукт</a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">О нас</a>
    <a class="py-2 d-none d-md-inline-block" href="{% url 'support' %}">Поддержка</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'cart' %}">Корзина</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'login' %}">Войти</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'register' %}">Регистрация</a>

  </nav>
</header>
    <div CLASS="container">
    {% block content %}{% endblock %}
    </div>
</body>
</html>